---
layout: splash
author_profile: true
permalink: /
date:

header:
  overlay_color: "#5e616c"
  overlay_image: mm-home-page-feature.jpg
  cta_label: "<i class='fa fa-user-plus'></i> Ir Ahora"
  cta_url: "http://www.pokerstrategy.com/#u7RMHV"
  caption:
  
excerpt: "Pokerstrategy es la escuela de poker que nos regala el capital inicial para que comencemos a jugar poker online sin tocar nuestro dinero."

feature_row:
  - image_path: netbet-poker-logo.png
    alt: "placeholder image 1"
    title: "NETBET"
    excerpt: "€20 gratis en dinero de poker"
    url: "https://es.pokerstrategy.com/poker-stars/freeplay/#u7RMHV"
    btn_label: "Ver Detalles"
    btn_class: "btn--inverse"
  - image_path: Poker-Stars-2-icon.png
    alt: "placeholder image 2"
    title: "POKERSTARS"
    excerpt: "$20 gratis en dinero de poker"
    url: "https://es.pokerstrategy.com/poker-stars/freeplay/#u7RMHV"
    btn_label: "Ver Detalles"
    btn_class: "btn--inverse"
  - image_path: bet365.png
    title: "BET365"
    excerpt: "€5 en dinero de poker gratis"
    url: "https://es.pokerstrategy.com/poker-stars/freeplay/#u7RMHV"
    btn_label: "Ver Detalles"
    btn_class: "btn--inverse"
    

    

---

{% include base_path %}

<div class="feature__item--center"><div class="archive__item"><div class="archive__item-body"><div class="archive__item-excerpt"><p>Elije la oferta de dinero gratis en la sala de poker online que más te guste y comienza jugar con dinero real gratis. &nbsp;&nbsp;</p></div></div></div></div>


{% include feature_row %}

<h3 class="archive__subtitle">Recent Posts</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
