---
layout: splash
author_profile: true
permalink: /
date:
header:
  overlay_color: "#5e616c"
  overlay_image: mm-home-page-feature.jpg
  cta_label: "<i class='fa fa-download'></i> Ir Ahora"
  cta_url: "/docs/quick-start-guide/"
  caption:
excerpt: 'Pokerstrategy es la escuela de poker que nos regala el capital inicial para que comencemos a jugar poker online sin tocar nuestro dinero.'

---

{% include base_path %}

<h3 class="archive__subtitle">Recent Posts</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
